@inherits LayoutComponentBase
@layout MudBaseLayout


<div>
      @Body
</div>


@code {
[CascadingParameter]
    public Action UpdateUi { get; set; } = default!;

    private void TriggerParentUpdate()
    {
        UpdateUi?.Invoke(); // Call the parent's UpdateUi method
    }


}