@page "/"




<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<MudCard>
    <MudCardHeader>hello brother</MudCardHeader>
</MudCard>

<MudButton OnClick="@(() => NavigationManager.NavigateTo("/company-info"))" Color="Color.Dark" Variant="Variant.Filled">
    co Info
</MudButton>
<MudButton OnClick="@(() => StateProvider.Logout())" Color="Color.Info" Variant="Variant.Filled">logout</MudButton>
